/***************************************//* Start Style All */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

/***************************************//* End Style All */


/***************************************//* Start Style Scroll */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/***************************************//* End Style Scroll */


/***************************************//* Start Style App */
#app {
    display: flex;
    align-items: center;
    justify-content: center;
}

/***************************************//* End Style App */


/***************************************//* Start Style CodeMirror */
.CodeMirror {
    position: fixed;
    top: 30px;
    left: 25px;
    right: 0;
    height: calc(100% - 65px);
}

.CodeMirror-foldmarker {
    color: gray;
    text-shadow: grey 0 0;
    font-size: 18px;
}

.CodeMirror-foldgutter-open {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 10px;
}

.CodeMirror-foldgutter-folded {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 10px;
}

.CodeMirror-foldgutter-open:after {
    content: "\f068";
}

.CodeMirror-foldgutter-folded:after {
    content: "\f067";
}

.CodeMirror-hints::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.CodeMirror-hints::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.CodeMirror-hints::-webkit-scrollbar-thumb {
    background: #888;
}

.CodeMirror-hints::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/***************************************//* Start Style CodeMirror */


/***************************************//* Start Style Header Editor */
#section-header-editor {
    position: fixed;
    top: 0;
    left: 25px;
    right: 0;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #44475a;
    overflow: auto;
}

#section-header-editor::-webkit-scrollbar {
    width: 0;
    height: 5px;
}

#section-header-editor::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#section-header-editor::-webkit-scrollbar-thumb {
    background: #888;
}

#section-header-editor::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#section-header-editor div {
    font-family: sans-serif;
    font-weight: 100;
    display: inline-flex;
    align-items: center;
    color: white;
    padding: 6px 5px;
    white-space: nowrap;
    background-color: #888;
    transition: all 0.5s;
    user-select: none;
    cursor: auto;
}

#section-header-editor div img {
    width: 25px;
}

#section-header-editor div span {
    padding: 0 10px 0 2px;
}

#section-header-editor div:hover {
    background-color: #555;
}

#section-header-editor div b {
    font-family: "Font Awesome 5 Pro";
    cursor: pointer;
    transition: all 0.5s;
    font-size: 15px;
    padding: 2px 5px;
    border-radius: 100px;
    font-weight: 100;
}

#section-header-editor div b:hover {
    background-color: grey;
}

#section-header-editor div b:before {
    content: "\f00d";
}

/***************************************//* End Style Header Editor */


/***************************************//* Start Style Section Project */
.sect-name-file,
.sect-name-folder,
.sect-rename {
    position: fixed;
    top: 500px;
    left: 15px;
    width: 250px;
    height: 40px;
    background-color: gray;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 100px;
}

.value-name-file,
.value-name-folder,
.value-rename {
    outline: none;
    border-radius: 5px;
    height: 25px;
    padding: 5px;
}

.click-ok-name-file,
.click-ok-name-folder,
.click-ok-rename {
    border-radius: 100%;
    border: none;
    outline: none;
    transition: all 0.5s;
    color: white;
    cursor: pointer;
}

.close-new-file,
.close-new-folder,
.close-rename {
    border-radius: 100%;
    border: none;
    outline: none;
    transition: all 0.5s;
    color: white;
    cursor: pointer;
}

.click-ok-name-file:hover,
.click-ok-name-folder:hover,
.click-ok-rename:hover,
.close-new-file:hover,
.close-new-folder:hover,
.close-rename:hover {
    color: #888;
}

.sect-delete {
    position: fixed;
    top: 500px;
    left: 15px;
    width: 250px;
    height: 40px;
    background-color: gray;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 100px;
}

.button-delete, .button-cancel {
    border-radius: 100px;
    padding: 6px;
    outline: none;
    color: white;
    font-size: 16px;
    transition: all 0.5s;
    background: deepskyblue;
    cursor: pointer;
}

.button-delete:hover,
.button-cancel:hover {
    background: #36d7e2;
}

.status_bar-left {
    font-family: sans-serif;
    font-weight: 100;
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25px;
    display: flex;
    background-color: #44475a;
    color: #fff;
    user-select: none;
}

.div-icon {
    margin: -5px 0 0 -5px;
}

.div-container-icon {
    width: 25px;
    height: 80px;
    transition: all 0.5s;
    padding: 10px 0 0 10px;
}

.div-container-icon:hover {
    background-color: #353849;
}

.status_bar-left p {
    transform: rotate(-90deg);
    transform-origin: bottom;
    margin: 0 0 15px 4px;
    padding: 30px 0 0 0;
}

.sect-body-project ul li {
    list-style-type: none;
    cursor: pointer;
    font-size: 15px;
    padding: 2px;
}

.sect-body-project ul li:hover {
    background-color: #575b70;
}

.sect-body-project ul li span {
    margin: 0 5px;
    font-size: 12px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
}

.sect-drag-project {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 295px;
    bottom: 35px;
    width: 5px;
    background-color: #44475a;
    cursor: e-resize;
}

.icon-arrow {
    color: white;
    transition: all 0.5s;
}

.icon-arrow:hover {
    color: #888;
}

.icon-arrow::before {
    content: "\f054";
}

.icon-folder::before {
    content: "\f07b";
}

#sect-project {
    font-family: sans-serif;
    font-weight: 100;
    display: none;
    position: fixed;
    right: 1446px;
    top: 0;
    left: 25px;
    bottom: 35px;
    background-color: #44475a;
    color: #fff;
    user-select: none;
    overflow: auto;
}

.header-sect-project {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    user-select: none;
}

#sect-open-dialog {
    cursor: pointer;
    transition: all 0.5s;
}

#sect-open-dialog:hover {
    color: #888;
}

.sect-icon-help i {
    cursor: pointer;
    transition: all 0.5s;
    padding: 3px;
    font-weight: 500;
}

.sect-icon-help i:hover {
    color: #888;
}

.arrow-icon-sect-body-project {
    transition: all 0.5s;
}

.arrow-icon-sect-body-project:hover {
    color: #888;
}

/***************************************//* End Style Section Project */


/***************************************//* Start Style Editor */
#editor {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2px;
}

/***************************************//* End Style Editor */


/***************************************//* Start Style Status Bar And Terminal */
.div_terminal {
    padding: 8px 20px;
    cursor: pointer;
    background-color: #44475a;
    transition: 1s all;
}

.div_terminal:hover {
    background-color: #707070;
}

.div_status_bar {
    display: flex;
}

#status_bar {
    font-family: sans-serif;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    user-select: none;
    background-color: #44475a;
    color: #eee;
}

.lock-status-bar-lock {
    display: none;
    cursor: pointer;
    transition: all 0.5s;
}

.lock-status-bar-lock:hover {
    color: #888;
}

.lock-status-bar-open {
    cursor: pointer;
    transition: all 0.5s;
}

.lock-status-bar-open:hover {
    color: #888;
}

#status_bar_terminal {
    font-family: sans-serif;
    font-weight: 100;
    display: none;
    justify-content: space-between;
    cursor: ns-resize;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 235px;
    width: 100%;
    height: 30px;
    background-color: #44475a;
    padding: 4px 0;
    font-size: 20px;
    user-select: none;
    color: #fff;
}

#status_bar_terminal i {
    cursor: pointer;
    padding: 0 10px;
    font-weight: 500;
    font-size: 22px;
    transition: all 0.5s;
}

#status_bar_terminal i:hover {
    color: #888;
}

.sect-select-command {
    position: relative;
    outline: none;
    border-radius: 100px;
    padding: 4px;
    bottom: 3px;
}

#terminal {
    display: none;
    position: fixed;
    left: 0;
    bottom: 35px;
    right: 0;
    padding: 5px 0 5px 5px;
    width: 100%;
    outline: none;
    resize: none;
    background-color: #696969;
    border: none;
    color: #fff;
    cursor: auto;
}

.sect-set-mode-file {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 35px;
}

#select-mode-file {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: #44475a;
    color: white;
    transition: all 0.5s;
}

#select-mode-file:hover {
    background-color: #707070;
}

/***************************************//* End Style Status Bar And Terminal */